<div *ngFor='let art of article | articleFilter'>
    <div [ngSwitch]="art.url">
      <app-demineur *ngSwitchCase="'demineur'" [article]="art"></app-demineur>
      <app-windows *ngSwitchCase="'windows'" [article]="art"></app-windows>
      <app-linux *ngSwitchCase="'linux'" [article]="art"></app-linux>
      <app-grunt *ngSwitchCase="'grunt'" [article]="art"></app-grunt>
      <app-nodemailer *ngSwitchCase="'nodemailer'" [article]="art"></app-nodemailer>
      <app-nodemailerfixit *ngSwitchCase="'nodemailerfixit'" [article]="art"></app-nodemailerfixit>
      <app-carousel *ngSwitchCase="'carousel'" [article]="art"></app-carousel>
      <app-fibonacci *ngSwitchCase="'fibonacci'" [article]="art"></app-fibonacci>
      <app-my-infos *ngSwitchCase="'cv'" [article]="art"></app-my-infos>
      <div *ngSwitchDefault>Cette page n'existe plus.</div>
    </div>
</div>
<!--<app-demineur [article]="article"></app-demineur>
-->
