<div class="text-center p-5 m-0">
		<form class="omb_loginForm" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<h5 class="omb_authTitle">Se connecter avec</h5>
				<div class="row col-offset-3 col-sm-offset-4 omb_socialButtons">
					<div class="col-xs-12 col-sm-12">
							<a routerLink="/auth/twitter" class="btn azm-social azm-size-48 azm-r-square azm-twitter"><i class="fa fa-twitter"></i></a>
							<a routerLink="/auth/github"  class="btn azm-social azm-size-48 azm-r-square azm-github"><i class="fa fa-github"></i></a>
					</div>
				</div>
		
				<div class="row omb_row-sm-offset-3 omb_loginOr">
					<div class="col-xs-12 col-sm-6">
						<hr class="omb_hrOr">
						<span class="omb_spanOr">ou</span>
					</div>
				</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<h2>Connexion</h2>
				</div>
			</div>
			<div class="row" *ngIf="errorMessage">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<div class="form-control-feedback">
						<span class="text-danger align-middle">
							<i class="fa fa-close"></i> {{errorMessage}}
						</span>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row" *ngIf="errorLogin">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<div class="form-control-feedback">
						<span class="text-danger align-middle">
							<i class="fa fa-close"></i> {{errorLogin}}
						</span>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row" *ngIf="errorPassword">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<div class="form-control-feedback">
						<span class="text-danger align-middle">
							<i class="fa fa-close"></i> {{errorPassword}}
						</span>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<div class="form-group has-danger">
						<label class="sr-only" for="email">Adresse mail</label>
						<div class="input-group">
							<div class="input-group-addon pt-2 rounded-left" style="width: 2.6rem; background:lightgray"><i class="fa fa-at fa-lg"></i></div>
							<input type="text" id="email" name="email" class="form-control" [ngClass]="displayFieldCss('email')" formControlName="email" placeholder="you@example.com"
							 required autofocus (change)="inputChange($event, 'email')">
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-9">
					<div class="form-group">
						<label class="sr-only" for="password">Password</label>
						<div class="input-group">
							<div class="input-group-addon pt-2 rounded-left" style="width: 2.6rem; background:lightgray"><i class="fa fa-key fa-lg"></i></div>
							<input type="password" id="password" name="password" class="form-control" [ngClass]="displayFieldCss('password')" formControlName="password" autocomplete="password"
							 placeholder="Password" required>
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<div class="row" style="padding-top: 1rem">
					<div class="col-md-1">
					</div>
					<div class="col-md-9">
						<button type="submit" class="btn btn-waanwii"><i class="fa fa-sign-in"></i> Connexion</button>
					</div>
					<div class="col-md-2"></div>
				</div>
			<div class="row" style="padding-top: 1rem">
				<div class="col-md-1">
				</div>
				<div class="col-md-5 p-1">
					<a class="btn-link" routerLink="/password/reset">Mot de passe oublié ?</a>
				</div>
				<div class="col-md-5 p-1">
					<a class="btn-link" routerLink="/signup"> <span class="fa fa-user-plus"></span> Créer un compte</a>
				</div>
				<div class="col-md-1">
					</div>
			</div>
		</form>
	</div>