<div class="jumbotron text-center">
    <p>Créer un compte</p>
    <div *ngIf="errorLogin" class="alert alert-danger" role="alert">
      {{errorLogin}}.
    </div>
<div class="omb_login">
    
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <form class="omb_loginForm" novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" maxlength="50" placeholder="Pseudo" formControlName="username">
					</div>
					<span class="help-block"></span>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope" style="font-size: 0.7em;"></i></span>
						<input type="text" class="form-control" maxlength="50" placeholder="Email" formControlName="email">
					</div>
					<span class="help-block"></span>				
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" maxlength="50" formControlName="password" placeholder="Password">
					</div>
          <div *ngIf="errorLogin" class="alert alert-danger" role="alert">
            {{errorLogin}}.
          </div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Inscription</button>
				</form>
			</div>
    	</div>
	</div>

</div>