<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarDropdownMenuLink" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <a class="navbar-brand" [routerLink]="['']">Codeblogue.com</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Jeu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/demineur']">Jeu du démineur</a>
          <a class="dropdown-item" [routerLink]="['/morpion']">Jeu du morpion</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Systèmes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/windows']">Windows</a>
          <a class="dropdown-item" [routerLink]="['/linux']">Linux</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SGBD
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/sql']">SQL</a>
          <a class="dropdown-item" [routerLink]="['/oracle']">Oracle</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
      <!-- <li class="nav-item" style="padding-top: 6px;">-->
        <form class="form-horizontal my-2 my-md-0" role="form">
          <div class="input-group">
            <input type="text" class="form-control mr-sm-2">
            <span class="input-group-btn">
                                    <button class="btn btn-default my-2 my-sm-0" type="submit" >
                                        <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            </span>
          </div>
        </form>
  </div>
</nav>