<nav class="navbar navbar-expand-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <a class="navbar-brand" routerLink='' style="margin-bottom:10px;">&nbsp;&nbsp;<span class="header-font">Codeblogue</span></a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <a i18n class="nav-link dropdown-toggle menu-a-text global-text-color" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jeu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a i18n class="dropdown-item  menu-a-text global-text-color" routerLink='/article/demineur'>Démineur</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a i18n class="nav-link dropdown-toggle  menu-a-text global-text-color" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Système
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a i18n class="dropdown-item  menu-a-text global-text-color" routerLink='/article/windows'>Windows</a>
          <a i18n class="dropdown-item  menu-a-text global-text-color" routerLink='/article/linux'>Linux</a>
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link  menu-a-text global-text-color" routerLink='/article/cv' id="navbarDropdownMenuLink" aria-expanded="false">
          CV
        </a>
      </li>
    </ul>
    <div class="col-lg-4" style="padding-right:0px">
      <form class="form-horizontal my-2 my-md-0 search-form" [formGroup]="searchForm" role="form" (keyup.enter)="onSubmit()">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="searchText" size="50" placeholder="Rechercher codeblogue">
            <span class="input-group-btn fa fa-search form-control-feedback">
            </span>
        </div>
      </form>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a i18n class="nav-link  menu-a-text global-text-color" routerLink='/signup'>Inscription</a>
      </li>
      <li class="nav-item">
        <a i18n *ngIf="!isLoggedIn" class="nav-link menu-a-text global-text-color" routerLink='/signin'>Connexion</a>
        <a i18n *ngIf="isLoggedIn" class="nav-link menu-a-text global-text-color" routerLink='/logout'>Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>