<header class="entry-header entry-header-index">
        <div class="row">
                <div class="col-xl-12 col-lg-7 col-md-12">
                    <div class="card profile-header">
                        <div class="body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="profile-image float-md-right"> <img src="assets/images/profil.jpeg" alt=""> </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-12 profile-desc">
                                    <h4 class="m-t-2 m-b-0" style="font-family: BallparkWeiner, georgia, times, times New Roman, cursive;">
                                        Mohamed Fofana
                                    </h4>
                                    <span style="font-size:1.4em;">Concepteur, Développeur Java JEE Full Stack</span><br/> 
                                    <span class="fa fa-envelope-square small m-t-2" style="font-size:1.em;"> fofana.mansour@gmail.com</span><br/> 
                                    <div class="bg-square-outline d-inline-block float-left" style="background-color:#0077B5; margin-top: 2em;">
                                            <a href="https://www.linkedin.com/in/mansourfofana/">
                                              <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
                                    </div>
                                    <div class="float-right">
                                            <a href="assets/downloads/CV_Mohamed_FOFANA.pdf" download>Télécharger mon CV &nbsp;<img border="0" src="assets/images/cv.png" alt="Télécharger"></a>
                                    </div>
                                </div>                
                            </div>
                        </div>                    
                    </div>
                </div>
                </div>
</header>

<div id="navbar-example">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link tab-attributes active" data-toggle="tab" href="#attributes" role="tab">Compétences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-schools" data-toggle="tab" href="#schools" role="tab">Formations et Certifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-experience" data-toggle="tab" href="#experience" role="tab">Expériences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab-interestAndlanguage" data-toggle="tab" href="#interestAndlanguage" role="tab">Langues et Centres d'intérêt</a>
        </li>
    </ul>

    <!-- Tab panes {Fade}  -->
    <div class="tab-content">
        <div class="tab-pane fade in active show" id="attributes" name="attributes" role="tabpanel">
            <!-- Services section -->
            <section id="sectionComp">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-12">
                            <div class="card">
                                <div class="card-block block-lang">
                                    <h5 class="card-title">Languages</h5>
                                    <p class="card-text">Java, HTML, CSS, XML, C#, C++, Javascript, Typescript, PHP4,
                                        VB.NET, SQL, PL-SQL</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-12">
                            <div class="card">
                                <div class="card-block block-tools">
                                    <h5 class="card-title">Outils</h5>
                                    <p class="card-text">Eclipse, Visual Studio Code, MS Visual Studio 2010, Jonas,
                                        Tomcat, Sonar, Jenkins, Angular CLI 1.x, Adobe Flex Builder 4.x, SoapUi, JIRA,
                                        HP Quality Center, REST, SOAP</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-12">
                            <div class="card">
                                <div class="card-block block-frameworks">
                                    <h5 class="card-title">Frameworks</h5>
                                    <p class="card-text">AngularJs 1.3, Angular 2 4 et 5, Apache Maven, Spring, Struts
                                        2, JSTL, NodeJs, GWT - Google Web Toolkit, Hibernate, JSP, jQuery, Express Js,
                                        Bootstrap 3 et 4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-12">
                            <div class="card">
                                <div class="card-block block-methods">
                                    <h5 class="card-title">Méthodes</h5>
                                    <p class="card-text">Méthode Agile, Cycle en V</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-12">
                            <div class="card">
                                <div class="card-block block-solution">
                                    <h5 class="card-title">Solutions</h5>
                                    <p class="card-text">Talend Open Studio, Neoxam DataHub</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-12">
                            <div class="card">
                                <div class="card-block block-database">
                                    <h5 class="card-title">Base de données</h5>
                                    <p class="card-text">MySQL, Oracle, PostgreSQL, Mongo DB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-12">
                            <div class="card">
                                <div class="card-block block-system">
                                    <h5 class="card-title">Systèmes d'exploitation</h5>
                                    <p class="card-text">Windows , Linux</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-12">
                            <div class="card">
                                <div class="card-block block-version">
                                    <h5 class="card-title">Gestion de versions</h5>
                                    <p class="card-text">SVN, Git, Bitbucket</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Services section -->
        </div>
        <div class="tab-pane fade" id="schools" name="schools" role="tabpanel">
            <div class="bs-callout bs-callout-danger">
                <h5>Formations</h5>
            </div>
            <dl class="row">
                <dt class="col-sm-3">2009-2012</dt>
                <dd class="col-sm-9"> <span class="font-weight-bold">Ecole Polytechnique de l'Université de Tours -
                        FRANCE</span><br />
                    Diplôme d’Ingénieur en Informatique
                </dd>
                <dt class="col-sm-3">2008-2009</dt>
                <dd class="col-sm-9"><span class="font-weight-bold">Université Cheikh Anta Diop de Dakar - SENEGAL</span><br />
                    Licence Professionnelle Informatique
                </dd>
                <dt class="col-sm-3">2006-2008</dt>
                <dd class="col-sm-9"><span class="font-weight-bold">Ecole Supérieure Polytechnique – Dakar, SENEGAL</span><br />
                    Diplôme Universitaire et Technique – Informatique
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h5>Certifications</h5>
            </div>
            <dl class="row">
                <dt class="col-sm-3">2018-2018</dt>
                <dd class="col-sm-9"><span class="font-weight-bold">Agilebee – Paris, FRANCE</span><br />
                    Diplôme Universitaire et Technique – Informatique
                </dd>
                <dt class="col-sm-3">2016-2017</dt>
                <dd class="col-sm-9"><span class="font-weight-bold">CNAM - Conservatoire National des Arts et Métiers –
                        Paris, FRANCE</span><br />
                    Diplôme Universitaire et Technique – Informatique
                </dd>
            </dl>
        </div>
        <div class="tab-pane fade" id="experience" name="experience" role="tabpanel">
            <div class="bs-callout bs-callout-danger">
                <h6>De Juin 2017 à Aujourd’hui : Ingénieur Etude et Développement - Softeam Paris</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    LIFE: Application d’alimentation, traitement et diffusion de l’activité Référentielle des Valeurs, Tiers et Indices d’Amundi.
                    <ul>
                        <li>Développement des évolutions et corrections</li>
                        <li>Refactoring du code pour améliorer la lisibilité et les performances</li>
                        <li>Intégration des de Tiers et de Securities ( Infogreffe, Equities, OPCVM, Bonds, …) </li>
                        <li>Implémentation d’API pour récupérer les titres en position</li>
                        <li>Support technique </li>
                        <li>Support utilisateurs (France, US, Japon)</li>
                        <li>Refonte de la génération de livraisons </li>
                        <li>Mise en production</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>Java, Java Swing, Eclipse, XML, Maven, Hibernate, Oracle, SQL, JIRA, Neoxam Datahub
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_Amundi.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>De Mai 2016 à Mai 2017 : Ingénieur Etude et Développement - Capgemini Paris</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    HERMES: Refonte de l’application de gestion des cotntrats du parc automobiles et des véhicules
                    connectés.
                    <ul>
                        <li>Développement et de tests</li>
                        <li>Analyse et Support sur la correction des anomalies</li>
                        <li>Respect des performances de l&#39;application</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>Eclipse, Maven, Hibernate, Oracle, SQL, Java, JIRA, SVN
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_PSA.png" alt="">
                </dd>
            </dl>

            <div class="bs-callout bs-callout-danger">
                <h6>Entre Juin 2014 à Avril 2016 : Ingénieur Etude et Développement - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    VASCO: Application SIG de Gestion des couvertures Orange sur la France Métropolitaine et les DOM TOM. Le système VASCO permet l'acquisition, l'analyse et la visualisation cartographique de données
                    du réseau mobile.
                    <ul>
                        <li>Développement d’API et d’interfaces pour la gestion des équipements du réseau</li>
                        <li>Refonte de module anciennement en VB 6</li>
                        <li>Analyse et correction d'anomalies d’Intégration</li>
                        <li>Correction de tickets - Réalisation de version de correction (Patch)</li>
                        <li>Rédaction de document, Chiffrage</li>
                        <li>Tests unitaires et Tests d'intégration</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>VB .Net, Java, Spring, Maven, Hibernate, Struts, HTML, CSS, VB6, Lunix, Talend, HP Quality Center, Jenkins, Soap UI, Jonas
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_Orange.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>Entre Juin 2014 à Avril 2016 : Ingénieur Etude et Développement - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    MARBELA: Application de calculs des éligibilités  techniques et réelles ADSL, VDSL, Fibre et Cuivre par le débit ou l’affaiblissement la France Métropolitaine et les DOM TOM.
                    <ul>
                        <li>Développement et Tests d’IHM et traitements de débit et d’affaiblissement</li>
                        <li>Analyse et correction d&#39;anomalies d’Intégration</li>
                        <li>Rédaction de document, Réalisation de devis</li>
                        <li>Tests unitaires et Tests d&#39;intégration</li>
                        <li>Mesures des performances des batchs et optimisation</li>
                        <li>Support</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>HTML, CSS, KSH, Java/JEE, Spring, Oracle, SQL, Eclipse, Linux, HP Quality Center, Jonas
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_Orange.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>Entre Juin 2014 à Avril 2016 : Ingénieur Etude et Développement - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    GESCAF: Application de gestion des chargés d’affaire.
                    <ul>
                        <li>Reception/Analyse/Acquittement des tickets Oceane</li>
                        <li>Support</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>KSH, SQL, Linux, HP Quality Center
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_Orange.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>Entre Juin 2014 à Avril 2016 : Ingénieur Etude et Développement - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    DMI: L'application couvre le traitement et la livraison des demandes de moyens internes (bureautique, téléphonie, applicatif), et la gestion des référentiels.
                    <ul>
                        <li>Développements et Tests</li>
                        <li>Correttion de tickets</li>
                        <li>Intégration</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>Java, KSH, SQL, Oracle, Eclipse, Unix, AR System, HP Quality Center
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_Orange.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>Entre 2014 à Avril 2016 : Ingénieur Etude et Développement - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    REFSAM: L’application RefSAM est un workflow de demande d’habilitations. Il repose sur une gestion des accès basés sur des rôles métiers et porte et des contrôles.
                    <ul>
                        <li>Développement et Tests</li>
                        <li>Analyse et correction d&#39;anomalies d’Intégration</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>Eclipse, CSS, HTML, PHP4, PostgreSQL, HP Quality Center, Zend Server
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_Orange.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>De Novembre 2013 à Janvier 2014 : Ingénieur Etude et Développement - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    ADELIA: L’application ADELIA (Application Dédiées à l’Exploitation des Lignes et des Incidents de l’ADSL) a pour objectif de couvrir les besoins métiers des utilisateurs.
                    <ul>
                        <li>Développement et Tests</li>
                        <li>Analyse et correction d&#39;anomalies d’Intégration</li>
                        <li>Tests unitaitres</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>Eclipse, KSH, Java, Oracle, Sonar, Jenkins
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_Orange.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>De Juin 2013 à Novembre 2013 : Ingénieur Etude et Développement chez MONACO TELECOM</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    OGC: Application de gestion des contrats mobiles et fixes.
                    <ul>
                        <li>Développement et tests des transactions web sur le nouveau myMT</li>
                        <li>Conception et Développement d&#39;IHM</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>HTML, CSS, XML, JavaScript, Eclipse, Java, jQuery, Maven, HP Quality center, Oracle, SQL, Tomcat
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_MonacoTelecom.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>De Février 2013 à Juin 2013 : Ingénieur Etude et Développement - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    HERMES: Application de gestion des publicités et de leur facturation.
                    <ul>
                        <li>Passage des scénarios de tests (manuels, automatiques) en respectant les délais et de
                            qualité des test</li>
                        <li>Analyse et validation d'anomalies</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>HP quality Center Sahi Test Automation Tool, Mysql
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_M6.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>De Octobre 2012 à Février 2013 : Ingénieur Etude et Développement - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    CAIRN : Application de gestion des équipements du réseau Orange.
                    <ul>
                        <li>Développement et tests des IHM</li>
                        <li>Conception et Modélisation</li>
                        <li>Corrections d'anomalies</li>
                        <li>Intégration et Mise en Production</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span>HTML, CSS, JavaScript, Java, KSH, Hibernate, Spring, Maven, HP Quality Center, Mysql, Eclipse, Talend, Linux
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_Orange.png" alt="">
                </dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h6>De Mai 2012 à Septembre 2012 : Stage de fin d'étude - Capgemini Rennes</h6>
            </div>
            <dl class="row">
                <dd class="col-sm-10">
                    SOCLE-GWT : Application blanche de prise de commande en GWT (Google Web Toolkit).
                    <ul>
                        <li>Développement et tests des IHM</li>
                        <li>Conception et Modélisation de la base de donnée</li>
                        <li>Réalisation de la persistance des données</li>
                        <li>Intégration et Mise en Production</li>
                    </ul>
                    <span class="envTech">Environnements Techniques : </span> HTML, CSS, XML, JavaScript, Java, GWT, Hibernate, Spring, Maven, JUnit, WSDL, MySQL, Merise, UML, Eclipse
                </dd>
                <dd class="col-sm-2 align-self-center">
                        <img src="assets/images/logo_MonacoTelecom.png" alt="">
                </dd>
            </dl>
        </div>
        <div class="tab-pane fade" id="interestAndlanguage" name="interestAndlanguage" role="tabpanel">
            <div class="bs-callout bs-callout-danger">
                <h5>Langues</h5>
            </div>
            <dl class="row mt-3">
                <dt class="col-sm">Français</dt>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Anglais</dt>
                <dd>Courant (TOEIC 850)</dd>
            </dl>
            <div class="bs-callout bs-callout-danger">
                <h5>Centres d'intérêt</h5>
            </div>
            <dl class="row mt-3">
                <dd class="col-sm">Sport,Cinéma, Lecture, E-leanring</dd>
            </dl>
        </div>
    </div>
</div>