<div class="card profile-header">
  <div class="body">
    <div class="row">
      <div class="col-md-2 col-12">
        <div class="profile-image float-md-left"> <img src="assets/images/profil.jpg" alt=""> </div>
      </div>
      <div class="col-md-10 col-12 ml-0 profile-desc">
        <h4 class="m-t-2 m-b-0"
          style="font-family: BallparkWeiner, georgia, times, times New Roman, cursive;">
          Mohamed Fofana
        </h4>
        <span style="font-size:1.2em;">Concepteur, Développeur Java JEE Full Stack</span><br />
        <span style="font-size:1.2em;">Certified Scrum Master<sup>®</sup></span><br />
        <span style="font-size:1.2em;"><a routerLink='/articles'><u>Articles</u></a></span> &nbsp;
        <span style="font-size:1.2em;"><a href="assets/downloads/CV_Mohamed_FOFANA.pdf" download><u>CV</u> (PDF, 177 KO)</a></span><br />
      </div>
    </div>
  </div>
</div>
<div>
<br/>
<p>Contact : </p>
<ul style="list-style:none;">
  <li>
    <i class="fa fa-envelope-square m-t-2 link-text-color" style="font-size:1.em;"> </i>
    <a href="mailto:fofana.mansour@gmail.com">&nbsp;&nbsp;&nbsp;fofana.mansour@gmail.com</a>
  </li>
</ul>
<p>Autres comptes : </p>
<ul style="list-style:none;">
  <li>
    <i class="fa fa-medium m-t-2 link-text-color" style="font-size:0.5.em;"></i>
    <a href="https://medium.com/@mfofana" >&nbsp; Medium</a>
  </li>
  <li >
    <i class="fa fa-github m-t-2 link-text-color" style="font-size:0.5.em;"></i>
    <a href="https://github.com/mohamedfofana">&nbsp;&nbsp; Github</a>
  </li>
  <li>
    <i class="fa fa-linkedin fa-fw  m-t-2 text-white" style="background-color:#0077B5; font-size:0.2.em;"></i>
    <a href="https://www.linkedin.com/in/mansourfofana/">&nbsp; Linkedin</a>
  </li>
</ul>
</div>
