<br>
<star-rating [rate]='article.rate' (ratingClicked)='onRatingClicked($event)'></star-rating>
<div class="text right">
  <br>
  <br>
  <hr class="withStyle">
</div>
  <div class="row">
  <!-- Formulaire de commentaire-->
  <div class="comments-container">
    <div class="col-sm-12">
        <h3>Commentaires({{numComments + numReplies}})</h3>
    </div>
      <!-- <p *ngIf='ratingClicked'>Vous avez donner {{itemIdRatingClicked}} has been given {{ratingClicked}} stars</p> -->
    <div class="commentAddSection" id="commentAddSection">
      <form class="form-horizontal" [formGroup]="commentForm" (ngSubmit)="saveComment()">
        <div class="form-group">
          <div class="col-sm-5 mb-2">
              <input type="text" class="form-control search-input" formControlName="author" size="50" placeholder="Nom" required>
          </div>
          <div class="col-sm-5 mb-2">
              <input type="text" class="form-control search-input" formControlName="email" size="50" placeholder="Adresse mail (pas obligatoire)">
          </div>
          <div class="col-sm-12">
            <textarea class="form-control commentTextArea" rows="1" id="commentTextArea" formControlName="contenu" placeholder="Ajouter un commentaire ..." required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-sm-12">
            <button type="submit" class="btn btn-secondary commentSubmit pull-right" id="commentSubmit" [disabled]="commentForm.invalid"><i class="fa fa-share"></i> Publier</button>
          </div>
        </div>
      </form>
    </div>
    <div class="box-shadow" *ngFor="let comment of comments">
      <ul id="comments-list" class="comments-list">
        <li>
          <div class="comment-main-level">
            <!-- Avatar -->
            <!-- <div class="comment-avatar"><img src="assets/images/unknown-user.png" alt=""></div> -->
            <!-- Contenedor del Comentario -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name">{{comment.author}}</h6>
                <span>{{comment.creation | date: "medium"}}</span>
                <i class="fa fa-heart" aria-hidden="true" (click)="likeComment(comment)"> {{comment.likes}}</i>
                <i class="fa fa-reply" (click)="showHideReply('replyNum' + comment._id)"></i>
              </div>
              <div class="comment-content">
                <p>
                  {{comment.contenu}}
                </p>
              </div>
            </div>
          </div>
          <!-- Reply -->
          <div class="replyAddSection" id="{{'replyNum' + comment._id}}" style="display:none;">
            <form class="form-horizontal" [formGroup]="replyForm" (ngSubmit)="saveReply(comment.author, comment.creation, 'replyNum' + comment._id)">
              <div class="form-group">
                  <div class="col-md-offset-3 col-sm-5 mb-2">
                      <input type="text" class="form-control search-input" formControlName="author" size="50" placeholder="Nom" required>
                  </div>
                  <div class="col-md-offset-3 col-sm-5 mb-2">
                      <input type="text" class="form-control search-input" formControlName="email" size="50" placeholder="Adresse mail (pas obligatoire)">
                  </div>
                <div class="col-md-offset-3 col-sm-12 mb-2 pr-0">
                  <textarea class="form-control replyTextArea" rows="5" id="replyTextArea" formControlName="contenu" required placeholder="Ajouter un commentaire ..."></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-3 col-sm-12">
                  <button type="submit" class="btn btn-secondary replySubmit float-right" id="replySubmit" [disabled]="replyForm.invalid"><i class="fa fa-share"></i> Publier</button>
                </div>
              </div>
            </form>
          </div>
          <!-- Replies -->
          <div *ngIf='replies'>
            <ul class="comments-list reply-list" style="padding:0">
              <li *ngFor="let reply of replies | replyFilter:comment.author:comment.creation">
                  <!-- Avatar -->
                  <!-- <div class="comment-avatar"><img src="assets/images/unknown-user.png" alt=""></div> -->
                  <!-- Contenedor del Comentario -->
                  <div class="comment-box">
                    <div class="comment-head">
                      <h6 class="comment-name">{{reply.author}}</h6>
                      <span>{{reply.creation | date: "medium"}}</span>
                      <i class="fa fa-heart" (click)="likeReply(reply)"> {{reply.likes}}</i>
                    </div>
                    <div class="comment-content">
                      <p>
                        {{reply.contenu}}
                      </p>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
