<header-article [article]='article' [nbComments]="nbComments"></header-article>
<consoletip description="Nohup est une commande Unix permettant de lancer un processus qui restera actif même après la déconnexion de l'utilisateur l'ayant initiée. Combiné à l'esperluette qui permet le lancement en arrière-plan, nohup permet donc de créer des processus s'exécutant de manière transparente sans être dépendants de l'utilisateur" command="nohup"></consoletip>
<consoletip description="Afficher les résultats de requête avec les les valeurs nulles en dernier" command="order by column desc nulls last"></consoletip>
<br/>
<figuretip description="Afficher les erreurs sqlplus" content="select * from user_errors where name = 'table_name' and owner='base_name' order by line;"></figuretip>
Faire une requête sur la date<br/>
<pre class="with-style-pre"><code class="with-style-code">SELECT to_char(column_date, 'DD/MM/YYYY HH24:MI:SS') 
FROM table_date 
WHERE column_date&gt;=TO_DATE('11/FEB/2016 00:00:00','DD/MM/YYYY HH24:MI:SS') 
AND column_date&lt;TO_DATE('11/FEB/2016 11:00:00','DD/MM/YYYY HH24:MI:SS');  
</code></pre>
<figuretip description="Visualiser l’espace libre de la sga" content="SELECT * FROM v$sgastat WHERE name like '%free%';"></figuretip>
Afficher les index compte oracle<br/>
<pre class="with-style-pre"><code class="with-style-code">SELECT table_name, index_name 
FROM all_indexes 
WHERE index_name like 'index%' ORDER BY table_name, index_name ;
</code></pre>
<figuretip description="Afficher la taille en Ko occupé par l'index index_name" content="SELECT sum(bytes)/1024 FROM dba_segments WHERE segment_name='index_name';"></figuretip>
Trouver le sid et le serial de la requête que l'on souhaite arrêter<br/>
<pre class="with-style-pre"><code class="with-style-code">SELECT sesion.sid, sesion.username, optimizer_mode, hash_value,address, cpu_time, 
elapsed_time, sql_text, serial# 
FROM v$sqlarea sqlarea, v$session sesion 
WHERE sesion.sql_hash_value = sqlarea.hash_value and sesion.sql_address = sqlarea.address 
AND sesion.username is not null;
</code></pre>
Trouver le sid et le serial de la requête que l'on souhaite arrêter<br/>
<pre class="with-style-pre"><code class="with-style-code">SELECT s.inst_id,s.sid,s.serial#,p.spid,s.username, s.program FROM gv$session s JOIN gv$process p ON p.addr=s.paddr AND p.inst_id=s.inst_id  WHERE  s.type != 'BACKGROUND' and s.sid=’xxxx’;
</code></pre>
<figuretip description="Arrêter une session lancer par une requête" content="ALTER SYSTEM KILL SESSION 'sid,serial';"></figuretip>
Rechercher un index dans la table des index<br/>
<pre class="with-style-pre"><code class="with-style-code">SELECT c.index_owner, i.index_name, DECODE(i.uniqueness, 'UNIQUE', 'YES', 'NO') UNIQUENESS, 
c.column_name, c.column_position, UNIQUENESS, c.column_name, c.column_position, i.tablespace_name 
FROM dba_ind_columns c,dba_indexes i 
WHERE i.index_name = c.index_name AND i.table_owner = c.table_owner 
AND i.index_name like '%index_name%' 
ORDER BY c.index_owner, i.index_name, c.column_position;
</code></pre>

 <commentBox [article]="article"></commentBox>