<div class="row">
    <div class="well-no-border">
        <h5>Partager</h5>
        <hr class="mt-0">
        <div class="d-inline-block">
                <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                  <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.codeblogue.com&title=Site%20web%20d'astuces%20de%20programmation
    &summary=Astuces&source=https://www.codeblogue.com"    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
    >
                    <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
                </div>
        </div>
        &nbsp;
        <div class="d-inline-block">
                <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                  <a href="https://twitter.com/share?url=https://www.codeblogue.com&text=Visitez ce site web&hashtags=codeblogue" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
    class="twitter-share-button">
                    <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
                </div>
       </div>
    </div>
</div>

<div class="row">
    <!-- Side Widget Well -->
    <div class="well-no-border">
        <h5>Liens</h5>
        <hr class="mt-0">
        <div class="row margin-bootom-10">
            <div class="col-md-12 no-right-padding ">
                <i class="fa fa-medium m-t-2 link-text-color" style="font-size:0.5.em;"></i>
               <a href="https://medium.com/@mfofana"> &nbsp;Medium</a>
            </div>
            <div class="col-md-12 no-right-padding ">
                <i class="fa fa-github m-t-2 link-text-color" style="font-size:0.5.em;"></i>
              <a href="https://github.com/mohamedfofana">&nbsp;&nbsp;&nbsp;Github</a>
            </div>
            <div class="col-md-12 no-right-padding ">
                <i class="fa fa-linkedin fa-fw  m-t-2 text-white" style="background-color:#0077B5; font-size:0.2.em;"></i>
                <a href="https://www.linkedin.com/in/mansourfofana/">&nbsp; Linkedin</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Side Widget Well -->
    <div class="well-no-border">
        <h5>Tops articles</h5>
        <hr class="mt-0">
        <div class="row margin-bootom-10" *ngFor="let article of articles">
            <div class="col-md-12 no-right-padding ">
                <star-rating-rate [rate]='article.rate'></star-rating-rate>&nbsp;&nbsp;
                <a class="text-link" routerLink="/article/{{article.url}}">{{article.titre}}</a>
            </div>
        </div>
    </div>
</div>
