<div class="row">
    <!-- Side Widget Well -->
    <div class="well">
        <h6><a routerLink='/article/carousel'>Créer un carousel avec M.E.A.N Stack 1</a></h6>
        <p>Création d'un carousel sous forme de directive directive .</p>
    </div>
</div>
<div class="row">
    <!-- Side Widget Well -->
    <div class="well">
        <h6><a routerLink='/article/nodemailerfixit'>Configuration de Nodemailer et OAuth</a></h6>
        <p>Nodemailer est un module de node js qui permet d’envoyer des mails. OAuth permet d'établir et de sécuriser la connexion.</p>
    </div>
</div>
<div class="row">
    <!-- Side Widget Well -->
    <div class="well">
        <h6><a routerLink='/article/nodemailer'>Envoi de mail avec Nodemailer</a></h6>
        <p>Exemple de script d'envoie de mail avec nodemailer et OAuth sur un serveur node Js.</p>
    </div>
</div>