<h2 class="intro-text text-center">Astuces SQL
</h2>
<hr>

<consoletip description="Nohup est une commande Unix permettant de lancer un processus qui restera actif même après la déconnexion de l'utilisateur l'ayant initiée. Combiné à l'esperluette qui permet le lancement en arrière-plan, nohup permet donc de créer des processus s'exécutant de manière transparente sans être dépendants de l'utilisateur" command="nohup"></consoletip>
<consoletip description="Afficher les résultats de requête avec les les valeurs nulles en dernier" command="order by column desc nulls last"></consoletip>
<br/>
<figuretip description="Afficher les erreurs sqlplus" content="select * from user_errors where name = 'table_name' and owner='base_name' order by line;"></figuretip>
Faire une requête sur la date<br/>
<pre class="with-style-pre"><code class="with-style-code">
select to_char(column_date, 'DD/MM/YYYY HH24:MI:SS') 
from table_date 
where column_date&gt;=TO_DATE('11/FEB/2016 00:00:00','DD/MM/YYYY HH24:MI:SS') 
and column_date&lt;TO_DATE('11/FEB/2016 11:00:00','DD/MM/YYYY HH24:MI:SS');  
</code></pre>